build/
libs/
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.so
*.a
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
.classpath
project.properties
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb][Uu][Ii][Ll][Dd]*/
libs/
*.bak
*.aux
*.blg
*.bat
LOCAL_*

.settings
.project
build*/
export*/
*~

*.bat

object_*/
